.sectionSix_container{
    display: flex;
    align-items: center;
    /* justify-content: ; */
    width: 100%;
    /* border: 2px solid rgb(255, 255, 255); */
    height: 100vh;
    flex-direction: column;
    background-color: #191627;
}
.sectionSix_navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    /* border: 2px solid rgb(255, 255, 255); */
    margin-top: 10vh;
    height: 15vh;
    font-size: small;
}

.sectionSix_beforeBtnclick{
    /* border: 2px solid rgb(255, 255, 255); */
    width: 10%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    color: white;
    border: none;
    background-color: #191627;
}
.btn_active{
    border-bottom: 4px solid #6e57e0;
    color: #6e57e0;
}

.sectionSix_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 100%;
    height: 100%;
}
.sectionSix_contentSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 100%;
    height: 70%;
}
.sectionSix_contentSection h2{
    /* border: 2px solid rgb(255, 255, 255); */
    font-family: 'Montserrat', sans-serif;
    /* text-align: center; */
    color: white;
    width: 70%;
}
.sectionSix_contentSection p{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    color: #BCBAC4;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
}
/* .sectionSix_contentSection button{
    border-radius: 7px;
    border: none;
    height: 6vh;
    width: 8vw;
    background-color: #6e57e0;
} */

.sectionSix_contentSection button:hover{
    background-color: #5744b7;

}


.sectionSix_contentSection a{
    color: white;
    font-weight: 600;
    text-decoration: none;

}
.sec6_images{
    /* border: 2px solid rgb(255, 255, 255); */
    width: 70%;
    height: 70%;
}

.sectionSix_contentSection_two{
    justify-content: center;
}

.project-card-holder-sec-one img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card-holder-sec-two h2{
    /* border: 2px solid white; */
    width: 100%;
    font-size: 20px;
}
.project-card-holder-sec-two p{
    /* border: 2px solid white; */
    width: 100%;
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    margin-bottom: 1vh;
}


.project-card-container::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }
  
  /* Track */
  .project-card-container::-webkit-scrollbar-track {
    background: #716c89;
  }
  
  /* Handle */
  .project-card-container::-webkit-scrollbar-thumb {
    background: #545167;
  }
  
  /* Handle on hover */
  .project-card-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@media(max-width:500px){
    .sectionSix_container{
        height: 80vh;
    }
    .sectionSix_navbar{
        width: 95%;
    }
    .sectionSix_beforeBtnclick{
        width: 20%;
        font-size: 12px;
    }
    .sectionSix_content{
        flex-direction: column;
    }
    .sectionSix_contentSection{
        height: 65%;
    }
    .sectionSix_contentSection h2{
        font-size: 20px;
        text-align: center;
    }
    .sectionSix_contentSection p{
        font-size: 15px;
        text-align: center;
        width: 90%;
    }
    .sec6_images{
        height: 80%;
        width: 80%;

    }

    .sectionSix_contentSection button{
      
        width: 21vw;
       
    }
    .btn_active{
        /* border-bottom: 2px solid #05668D; */
    }
    .sectionSix_contentSection_two img{
        object-fit:contain;
    }
}